@import "tailwindcss";


@theme {
  --font-sans: var(--font-alpino), sans-serif;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@theme {
  --animate-slide-left: slide-left 3s linear infinite;
  --animate-spin-slow: spin 6s linear infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility font-alpino {
  font-family: var(--font-alpino), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
